---
layout: default
title: Články
---

<!------------------------ Split blog loop (part 1) ------------------------>
<section class="padded archive">

    <div class="capped-width-narrow padded-05 center margin-b-1">
        <h2 class="editable">
            Čl&aacute;nky
        </h2>
        <p class="editable">
            V čl&aacute;nc&iacute;ch na těchto webov&yacute;ch str&aacute;nk&aacute;ch se budu snažit detailněji popsat určit&aacute; ekonomick&aacute; či Bitcoinov&aacute; t&eacute;mata. Jedn&aacute; se o form&aacute;t, kter&yacute; je pro mě osobně nejpř&iacute;jemněj&scaron;&iacute;, proto pros&iacute;m omluvte, kdybych se v čl&aacute;nc&iacute;ch rozepsal a nebyl tak stručn&yacute;.
        </p>
    </div>

    <div class="capped-width grid">

        {% for post in site.posts limit:100 %}
    <div class="col-4_md-6_sm-12 post-item padded-2 sm-padded-1">
        <a href="{{ post.url }}" class="bg-image square" style="background-image:url('{{post.featured_image}}'); display: block;"></a>
                <div class="padded-1">

                    {% for item in post.categories %}
                    <a href="/{{item}}"> <span class="tag"> {{item}} </span></a>
                 {% endfor %}
                 <a href="{{ post.url }}">
                    <h2 class="margin-t-1"> {{ post.title }} </h2>
                    <p> {{ post.description }} </p>
                 </a>
                </div>
            
        </div>

        {% endfor %}

    </div>

</section>
