---
layout: default
title: Tvorba
pars:
   -
      title: Podcasty
      popis: >-
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id pariatur
         numquam facilis expedita! Dignissimos veniam totam fugit expedita
         distinctio corrupti possimus iusto aperiam, repudiandae soluta rem
         dicta eum accusamus libero.
   -
      title: YT kanály
      popis: test test
---

<section class="padded archive">

    <div class="capped-width-narrow padded-05 center margin-b-1">
        <h2 class="editable">
            Dal&scaron;&iacute; tvorba
        </h2>
        <p class="editable">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, quaerat necessitatibus? Praesentium fugit ex neque magni, possimus, iste itaque voluptatem id doloremque voluptas consequatur dolor cumque! Dolores possimus laboriosam adipisci.
        </p>
    </div>

    <div class="capped-width grid">

        {% for tvorba in site.tvorbas limit:100 %}
    <div class="col-4_md-6_sm-12 post-item padded-2 sm-padded-1">
        <a href="{{ tvorba.url }}" class="bg-image square" style="background-image:url('{{tvorba.featured_image}}'); display: block;"></a>
                <div class="padded-1">
                    {% for item in tvorba.categories %}
                    <a href="/{{item}}"> <span class="tag"> {{item}} </span></a>
                 {% endfor %}
                 <a href="{{ tvorba.url }}">
                    <h2 class="margin-t-1"> {{ tvorba.title }} </h2>
                    <p> {{ tvorba.description }} </p>
                 </a>
                </div>
            
        </div>

        {% endfor %}

    </div>

</section>

<section class="capped-width center grid-spaceAround">
    <h2 class="col-12 editable">
        Kam d&aacute;l?
    </h2>
    {%for par in page.pars%}
    <div class="col-4_sm-12">
        <p class="center">
            YouTube kan&aacute;ly
        </p>
        <p class="center">
            <a target="_blank" rel="noopener" href="https://www.youtube.com/c/BitcoinovejKanál">Bitcoinovej kan&aacute;l</a>
        </p>
    </div>
    {%endfor%}
</section>
