---
layout: default
title: Tvorba
pars:
   -
      title: Twitter účty
      popis: >-
         <a href="https://twitter.com/Stroukal" target="_blank">@stroukal</a>  
         <a href="https://twitter.com/JurajKarpis"blank">@JurajKarpis</a>
   -
      title: YouTube kanály
      popis: ' <a href="https://www.youtube.com/c/BitcoinovejKanál" target="_blank">Bitcoinovej kanál</a>'
   -
      title: Podcasty
      popis: ' <a href="https://www.youtube.com/channel/UCw-kSlXTDttt3qwt0deu7bg" target="_blank">Stackuj podcast</a>'
---

<section class="padded archive">

    <div class="capped-width-narrow padded-05 center margin-b-1">
        <h2 class="editable">
            Dal&scaron;&iacute; tvorba
        </h2>
        <p class="editable">
            Zde naleznete ve&scaron;kerou moji tvorbu mimo m&aacute; videa na&nbsp;<a target="_blank" rel="noopener" href="https://www.youtube.com/channel/UCKR4yYoIx0eMY8bf8b0cZRw">YouTube kan&aacute;le</a>&nbsp;Ekonomie Jednodu&scaron;e a&nbsp;<a target="_blank" rel="noopener" href="/clanky.html">čl&aacute;nky</a>. Z&aacute;roveň se zde nach&aacute;z&iacute; i podcasty, ve kter&yacute;ch &uacute;činkuji. Zkr&aacute;tka v&scaron;echna m&aacute; ostatn&iacute; tvorba. Na konci t&eacute;to str&aacute;nky se vyskytuj&iacute; mnou vybran&eacute; kvalitn&iacute; zdroje v oblasti ekonomie a Bitcoinu.
        </p>
    </div>

    <div class="capped-width grid">

        {% for tvorba in site.tvorbas limit:100 %}
    <div class="col-4_md-6_sm-12 post-item padded-2 sm-padded-1">
        <a href="{{ tvorba.url }}" class="bg-image square" style="background-image:url('{{tvorba.featured_image}}'); display: block;"></a>
                <div class="padded-1">
                    {% for item in tvorba.categories %}
                    <a href="/{{item}}"> <span class="tag"> {{item}} </span></a>
                 {% endfor %}
                 <a href="{{ tvorba.url }}">
                    <h2 class="margin-t-1"> {{ tvorba.title }} </h2>
                    <p> {{ tvorba.description }} </p>
                 </a>
                </div>
            
        </div>

        {% endfor %}

    </div>

</section>

<section class="capped-width center grid-spaceAround">
    <h2 class="col-12 editable">
        Kam d&aacute;l?
    </h2>
    {%for par in page.pars%}
    <div class="col-4_sm-12">
        <p class="center">
            {{par.title}}
        </p>
        <p class="center">
            {{par.popis}}
        </p>
    </div>
    {%endfor%}
</section>
