    <div class="col-4-middle mob-hide left">
        <a href="/">
            <h2 class="logo">Ekonomie Jednoduše</h2>
        </a>
    </div>

    <div class="col-12 mob-show center">
        <a href="/">
            <h2 class="logo">Ekonomie Jednoduše</h2>
        </a>
    </div>
    
    <nav class="col-8-middle mob-hide web-nav right">
        <!-- <a 
            {% if page.url == "/" %}
                class="clickedon"
            {%endif%}
        
        href="/"> Home </a> -->
        <a 
        {% if page.url == "/videa.html" %}
        class="clickedon"
        {%endif%} href="/videa.html"> Videa </a>




        <span class="dropdown-nav">
        <a href="/blog-archive.html"> Články </a>
        <div class="dropdown-content">
            <!-- <a href="/bankovnictvi">Bankovnictví</a> -->
            <a href="/bitcoin">Bitcoin</a>
            <a href="/ekonomie">Ekonomie</a>
            <!-- <a href="/ekonomika">Ekonomika</a> -->
            <!-- <a href="/inflace">Inflace</a> -->
            <!-- <a href="/menova-politika">Měňová politika</a> -->
            <a href="/penize">Peníze</a>
        </div>

     </span>

        <a 
        {% if page.url == "/podcast.html" %}
        class="clickedon"
        {%endif%}
        
        
        href="/podcast.html"> Podcast </a>
        <a 
        {% if page.url == "/dalsi-tvorba.html" %}
        class="clickedon"
        {%endif%}
        
        
        href="/dalsi-tvorba.html"> Další tvorba </a>
        <a 
        {% if page.url == "/kontakt.html" %}
        class="clickedon"
        {%endif%}
        
        href="/kontakt"> Kontakt </a>
        <a class="button p-02
        {% if page.url == "/podporte-me.html" %}
        clickedon{%endif%}"
        
        href="/podporte-me.html"> Podpoř mě </a>
    </nav>

<div class="col-12-right">
    <button id="dark-btn" class="btn-toggle">
        Mode
         </button>
</div>



<!-- <div class="col-12 center">
    <button id="dark-btn" class="btn-toggle">
        Dark Mode On/Off
         </button>
</div> -->

