            
   <hr>           
<footer class="grid">
    <!-- column -->
    <div class="col-5_sm-12 padded p-b-1 p-t-2" id="footer-logo">
      <a href="/"><h2 class="logo"> Ekonomie Jednoduše </h2></a>
      <p> Pokud se ti má tvorba líbí, můžeš mě <a href="/podporte-me.html"><span class="purple">podpořit.</span></a></p>
    </div>
    <div class="col-1 sm-hidden p-b-1"></div>
    <!-- column -->
    <div class="col-6_sm-12-middle padded right p-b-1 p-t-2" id="socials-footer">
      <nav class="inline">
        <a href="#"> Email </a>|
        <a href="#"> Discord</a>
      </nav>
      <nav class="inline socials">
        <a href="#">
          <i class="fab fa-instagram-square"></i>
        </a>
        <a href="#">
          <i class="fab fa-youtube"></i>
        </a>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
      </nav>
    </div>
    <div class="col-12 center">
        <span class="center copyright">Design and code by <a href="#">Lofterra Webdevelopment</a></span>
    </div>
</footer>
  
              
            