<hr />           
<footer class="grid">
    <!-- column -->
    <div class="col-5_sm-12 padded p-b-1 p-t-2" id="footer-logo">
      <a href="/"><h2 class="logo"> Ekonomie Jednoduše </h2></a>
      <p class="editable">
          Pokud se V&aacute;m m&aacute; tvorba l&iacute;b&iacute;, můžete mě <a href="/podporte-me.html">podpořit.</a>
      </p>
    </div>
    <div class="col-1 sm-hidden p-b-1"></div>
    <!-- column -->
    <div class="col-6_sm-12-middle padded right p-b-1 p-t-2" id="socials-footer">
      <nav class="inline">
        <a href="mailto:ekonomie-jednoduse@proton.me" target="_blank"> Email EJ </a>
      </nav>
      <nav class="inline socials">
        <a href="https://www.instagram.com/ekonomie_jednoduse/" target="_blank">
          <i class="fab fa-instagram-square"></i>
        </a>
        <a href="https://www.youtube.com/c/EkonomieJednoduše" target="_blank">
          <i class="fab fa-youtube"></i>
        </a>
          <a href="https://twitter.com/Stepec_Drabek?ref_src=twsrc%5Etfw%7Ctwcamp%5Eembeddedtimeline%7Ctwterm%5Eprofile%3AStepec_Drabek%7Ctwgr%5EeyJ0ZndfdHdlZXRfZWRpdF9iYWNrZW5kIjp7ImJ1Y2tldCI6Im9mZiIsInZlcnNpb24iOm51bGx9LCJ0ZndfcmVmc3JjX3Nlc3Npb24iOnsiYnVja2V0Ijoib2ZmIiwidmVyc2lvbiI6bnVsbH0sInRmd190d2VldF9yZXN1bHRfbWlncmF0aW9uXzEzOTc5Ijp7ImJ1Y2tldCI6InR3ZWV0X3Jlc3VsdCIsInZlcnNpb24iOm51bGx9LCJ0Zndfc2Vuc2l0aXZlX21lZGlhX2ludGVyc3RpdGlhbF8xMzk2MyI6eyJidWNrZXQiOiJpbnRlcnN0aXRpYWwiLCJ2ZXJzaW9uIjpudWxsfSwidGZ3X2V4cGVyaW1lbnRzX2Nvb2tpZV9leHBpcmF0aW9uIjp7ImJ1Y2tldCI6MTIwOTYwMCwidmVyc2lvbiI6bnVsbH0sInRmd19kdXBsaWNhdGVfc2NyaWJlc190b19zZXR0aW5ncyI6eyJidWNrZXQiOiJvZmYiLCJ2ZXJzaW9uIjpudWxsfSwidGZ3X3VzZXJfZm9sbG93X2ludGVudF8xNDQwNiI6eyJidWNrZXQiOiJmb2xsb3ciLCJ2ZXJzaW9uIjpudWxsfSwidGZ3X3R3ZWV0X2VkaXRfZnJvbnRlbmQiOnsiYnVja2V0Ijoib2ZmIiwidmVyc2lvbiI6bnVsbH19&ref_url=http%3A%2F%2F127.0.0.1%3A4000%2F" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
      </nav>
    </div>
    <div class="col-12 center copyright">
      <i class="fa fa-copyright"></i> 2022 Design and code by <a href="https://www.lofterrawebdevelopment.com/" target="_blank"> Lofterra webdevelopment</a>
    </div>
</footer>
