<header id="header" class="grid-spaceBetween">
    

        {%include nav.html%}

        <div class="col-4-middle right">
            <a class="hamburger-button mob-show"> &#9776; </a>
          </div>
     
    <div class="mobile-menu"> 
        <nav> 
          <a href="/"> Home </a>
          <a href="/o-nas.html"> O nás </a>
          <a href="/galerie.html"> Reference </a>
          <!-- <a href="/reference.html"> Reference </a> -->
          <a href="/kontakt.html"> Kontakt </a>
          <a href="/vzdelani.html"> Vzdělání </a>
        </nav>
    </div> 
</header>