<header id="header" class="grid-spaceBetween">
    

        {%include nav.html%}

        <div class="col-4-middle right">
            <a class="hamburger-button mob-show"> &#9776; </a>
          </div>
</header>

<div class="mobile-menu"> 
  <nav> 
    <a href="/"> Home </a>
    <a href="/videa.html"> Videa </a>
    <a href="/clanky.html"> Články </a>
    <a href="/podcast.html"> Podcast </a>
    <a href="/dalsi-tvorba.html"> Další tvorba </a>
    <a href="/kontakt.html"> Kontakt </a>
    <a href="/podporte-me.html"> Podpoř mě </a>
  </nav>
</div> 