<div class="social-share center margin-t">

    <hr class="short center"> 

    <h4 class="margin-b-05"> Sdílet </h4>

    <nav>
        <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.data.site-settings.social.twitter_username }}&related={{ site.data.site-settings.social.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">
            <i class="social fab fa-twitter"></i>
        </a>
        <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">
            <i class="social fab fa-facebook-f"></i>
        </a>
    </nav>

</div>

<div class="download center">
    <a href="/files/{{page.download}}" download>Stáhnout v pdf</a>
</div>